.sidebar
  button
    | Departamentos
    i.caret
  ul.nav.nav-pills.nav-stacked.menu.hidden
    li(class='active')
      a(href='#') Alimentos
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Eletrodomésticos
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Moda
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Games
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Automotivo
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Brinquedos
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3
    li
      a(href='#') Áudio
      ul.nav.nav-pills.nav-stacked.inner
        li
          a(href='#') 
            i.fa.fa-circle-o 
            | Sub item 1
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 2
        li
          a(href='#')
            i.fa.fa-circle-o 
            | Sub item 3